/*tablo*/

.tablo {
    background-color: aqua;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 2.5rem 0;
}

.finish {
    /*font-size: 2.2rem;*/
    color: red;
}

.message {
    font-size: 1.2rem;
}

.errorMessage {
    font-size: 1.2rem;
    color: red;
}

