.btn {
    background-color: aqua;
    border: 0;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

.disabled {
    background-color: #366464;
    /*opacity: 0.5;*/
}