.wrapper-counter {
    border-radius: 10px;
    border: 5px solid aqua;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

/*tablo*/

.tablo {
    background-color: aqua;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 1rem 0;
}

.finish {
    /*font-size: 2.2rem;*/
    color: red;
}

/*btn*/

.wrapper-btn {
    border-radius: 10px;
    border: 5px solid aqua;
    padding: 0.8rem;
    display: flex;
    gap:10px;
}

.btn {
    background-color: aqua;
    border: 0;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

.disabled {
    background-color: #366464;
    /*opacity: 0.5;*/
}